<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
    <p>
      <!-- use router-link component for navigation. -->
      <!-- specify the link by passing the `to` prop. -->
      <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
      <router-link to="/route1">Route1</router-link>&nbsp;
      <router-link to="/route2">Route2</router-link>&nbsp;
      <router-link to="/route3/7">Route3_id1</router-link>&nbsp;
      <router-link to="/route3/8">Route3_id2</router-link>&nbsp;
      <router-link to="/route3/8/nested-route">Nested_Route</router-link>&nbsp;
      <button @click="nav()">Programmatic_Navigation</button>&nbsp;
      <button @click="goBack()">Back</button>
      <!-- route outlet -->
      <!-- component matched by the route will render here -->
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </p>
  </div>
</template>

<script>
/*eslint-disable*/
export default {
  name: "app",
  methods: {
    nav() {
      this.$router.replace("/route1");
    },
    goBack() {
      this.$router.go(-1);
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
