<template>
  <div>
    <button v-on:click="count++">You clicked me {{ count }} times.</button>
    <p>
      {{title}}&nbsp;
      {{obj1}}
      <!-- {{products}} -->
      <button v-on:click="$emit('from-child','From Child')">toParent</button>&nbsp;
      <b>Custom Input:</b>&nbsp;
      <input v-bind:value="title" v-on:input="$emit('input',$event.target.value)" />
    </p>
    <!-- 
      <div v-for="(i,index) in products" :key="index">
      <input type="number" v-model="i.price" />
    </div>-->
    <input :value="size" @input="$emit('update:size',$event.target.value)" />
  </div>
</template>
<script>
export default {
  name: "ButtonCounter",
  props: {
    title: {
      type: String,
      required: true
    },
    size: String,
    products: Array,
    obj1: {
      type: Object,
      default() {
        return { message: "hello" };
      }
    }
  },
  data() {
    return {
      count: 0
    };
  }
};
</script>
<style scoped>
</style>