<template>
  <div>
    <b>Using Conditional Rendering:</b>&nbsp;
    <br />
    <div v-if="loginType">
      <label>Username:</label>&nbsp;
      <input placeholder="Enter your username" key="username-input" />
    </div>
    <div v-else>
      <label>Email</label>&nbsp;
      <input placeholder="Enter your email address" key="email-input" />
    </div>
    <br />
    <button @click="toggle">Toggle</button>
    <hr />
    <b>Using Event Handler:</b>&nbsp;
    <button @click="say('hi')">Alert</button>
  </div>
</template>

<script>
/*eslint-disable*/
console.log("in ConditionalRender");

export default {
  name: "HelloWorld",
  data() {
    return {
      loginType: true
    };
  },
  methods: {
    toggle() {
      this.loginType = !this.loginType;
    },
    say(msg) {
      alert(msg);
    }
  }
};
</script>

<style scoped>
</style>