<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <span v-bind:title="message">
      <b>Using v-bind:</b>&nbsp; Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
    <hr />

    <span v-if="seen">
      <b>Using v-if:</b>&nbsp;Test V-if
    </span>
    <span v-else>
      <b>Using v-else:</b>&nbsp;Test V-else
    </span>
    <hr />

    <ol>
      <span>
        <b>Using v-for:</b>&nbsp;
      </span>
      <li v-for="todo in todos" v-bind:key="todo">{{ todo}}</li>
    </ol>
    <hr />

    <span>
      <b>Using v-on:click :</b>
      &nbsp;{{msg1}}
    </span>&nbsp;
    <button @click="toUpper">Convert Uppercase</button>
    <hr />

    <span>
      <b>Using v-model:</b>
    </span>&nbsp;
    <input v-model="msg1" />
    <hr />

    <p>
      <b>Using v-html:</b>
      &nbsp;{{rawHTML}}
    </p>
    <p v-html="rawHTML"></p>
    <hr />

    <b>Using :href and dynamic class binding:</b>&nbsp;
    <a :[myattr]="url" :class="{'active':isActive}">Navigate to google</a>
    <hr />

    <p>
      <b>Using Computed Properties:</b>
      &nbsp;{{reversedMsg + " & Todays date is "+todayDate}}
    </p>
    <hr />

    <p>
      <b>Using Watched Properties & Style Bindings:</b>
      &nbsp;Old Message:
      <b v-bind:style="{ color: 'blue'}">{{oldMessage}}</b>&nbsp;& New Message:
      <b v-bind:style="myStyle">{{newMessage}}</b>
    </p>
    <hr />

    <ConditionalRender />
    <hr />

    <b>Caveats in array and Object:</b>&nbsp;
    <button @click="testCaveats()">Test Caveats</button>
    <hr />

    <b>Using input form bindings:</b>&nbsp;
    <select v-model="selected">
      <option
        v-for="option in options"
        v-bind:value="option.value"
        v-bind:key="option.text"
      >{{ option.text }}</option>
    </select>
    <span>Selected: {{ selected }}</span>
    <br />
    <input type="radio" id="one" value="male" v-model="picked" />
    <label for="one">Male</label>
    &nbsp;
    <input type="radio" id="two" value="female" v-model="picked" />
    <label for="two">Female</label>
    <br />
    <span>Picked: {{ picked }}</span>
    <hr />
    <b>Using deep handler:</b>&nbsp;
    <div v-for="(i,index) in products" :key="index">
      <input type="number" v-model="i.price" />
    </div>
    <hr />
    <b>Using global component(Parent-Child):</b>&nbsp;
    <div>
      <button-counter
        v-for="(product,index) in products"
        v-bind:key="product.price"
        v-bind:title="product.name"
        v-on:from-child="eventHandler(index,$event)"
        v-on:input="product.name=$event"
        v-bind:products="products"
        v-bind:obj1="object1"
      ></button-counter>
      <hr />
    </div>
    <button-counter :size.sync="size"></button-counter>
    {{size}}
    <hr />
    <Slots>
      <template v-slot:header>
        <h1>Here might be a page title</h1>
      </template>

      <p>A paragraph for the main content.</p>
      <p>And another one.</p>

      <template v-slot:footer>
        <p>Here's some contact info</p>
      </template>

      <template v-slot:todo="{ todo }">
        <span v-if="todo.isComplete">✓</span>
        {{ todo.name }}
      </template>
    </Slots>
  </div>
</template>

<script>
/*eslint-disable*/
import ConditionalRender from "./ConditionalRender";
import Vue from "vue";
import Slots from "./Slots";

export default {
  name: "HelloWorld",
  components: {
    ConditionalRender,
    Slots
  },
  props: {
    msg: String
  },
  beforeCreate() {
    console.log("before Create");
  },
  created() {
    console.log("created");
  },
  beforeMount() {
    console.log("before Mount");
  },
  mounted() {
    console.log("mounted");
  },
  beforeUpdate() {
    console.log("before Update");
  },
  updated() {
    console.log("updated");
  },
  beforeDestroy() {
    console.log("before Destroy");
  },
  destroyed() {
    console.log("destroyed");
  },
  data() {
    return {
      message: "You loaded this page on " + new Date().toLocaleString(),
      msg1: "Hello",
      seen: true,
      todos: ["text1", "text2", "text3"],
      rawHTML: "<span style='color:red'>This should be red</span>",
      url: "www.google.com",
      myattr: "href",
      oldMessage: String,
      newMessage: String,
      myStyle: { color: "red" },
      isActive: false,
      user: {
        name: "abc"
      },
      picked: "male",
      selected: "A",
      options: [
        { text: "One", value: "A" },
        { text: "Two", value: "B" },
        { text: "Three", value: "C" }
      ],
      products: [
        { name: "product A", price: "100" },
        { name: "product B", price: "200" }
      ],
      object1: {
        ob: "ob1"
      },
      size: "small"
    };
  },
  created() {
    this.oldMessage = this.msg1;
    this.newMessage = this.msg1;
  },
  methods: {
    toUpper() {
      this.msg1 = this.msg1.toUpperCase();
    },
    testCaveats() {
      this.todos[3] = "newTodo";
      console.log(this.todos);

      Vue.set(this.todos, 3, "newTodo");
      console.log(this.todos);

      this.todos.length = 4;
      console.log(this.todos);

      this.todos.splice(4);
      console.log(this.todos);

      Vue.set(this.user, "age", 21);
      console.log(this.user);

      this.user = Object.assign({}, this.user, {
        age: 21,
        favoriteColor: "blue"
      });
      console.log(this.user);
    },
    getProducts(val) {
      console.log(val);
    },
    eventHandler(index, str) {
      this.products[index].name += " " + str;
    }
  },
  computed: {
    reversedMsg() {
      return this.msg1
        .split("")
        .reverse()
        .join("");
    },
    todayDate() {
      var d = new Date();
      return d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
    }
  },
  watch: {
    msg1(newMsg, oldMsg) {
      this.oldMessage = oldMsg;
      this.newMessage = newMsg;
      console.log(newMsg);
      console.log(oldMsg);
    },
    products: {
      handler: "getProducts",
      deep: true
    }
  }
};

Vue.component(
  "button-counter",
  require("../components/ButtonCounter.vue").default
);
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.active {
  color: red;
}
</style>
