<template>
  <div>
    <header>
      <slot name="header">Header Fallback</slot>
    </header>
    <main>
      <slot>Fallback</slot>
    </main>
    <footer>
      <slot name="footer">Footer Fallback</slot>
    </footer>
    <ul style="list-style-type:none;">
      <li v-for="todo in todos" v-bind:key="todo.id">
        <slot name="todo" v-bind:todo="todo">
          <!-- Fallback content -->
          {{ todo.name }}
        </slot>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Slots",
  data() {
    return {
      todos: [
        { id: "1", name: "todo1", isComplete: true },
        { id: "2", name: "todo2", isComplete: false }
      ]
    };
  }
};
</script>

<style scoped>
</style>