<template>
  <div>
    <h2>From Nested Route</h2>
    &nbsp;
    props:&nbsp;{{id}}
  </div>
</template>

<script>
export default {
  name: "NestedRoute",
  props: ["id"]
};
</script>

<style scoped>
</style>