<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>From Route1</h2>
    <button @click="globalTest()">Test Method Merging</button>
  </div>
</template>

<script>
/*eslint-disable*/
import globalMixin from "../mixins/globalMixin";

const myMixin = {
  data() {
    return {
      message: "hey"
    };
  },
  methods: {
    test() {
      console.log("From Mixin Method");
    }
  },
  created() {
    console.log("From my mixin");
  }
};

export default {
  name: "Route1",
  props: {
    msg: String
  },
  data() {
    return {
      message: "hello"
    };
  },
  methods: {
    test() {
      console.log("From Component Method");
    },
    global() {
      console.log(globalMixin.globalTest);
    }
  },
  created() {
    console.log("From Route1");
    console.log(this.$data);
  },
  mixins: [myMixin, globalMixin]
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
