<template>
  <div>
    <h2>From Route2</h2>
  </div>
</template>

<script>
/*eslint-disable*/
export default {
  name: "Route2",
  beforeRouteEnter(to, from, next) {
    console.log("Before Route Enter from Route2");
    next();
  },
  beforeRouteUpdate(to, from, next) {
    console.log("Before Route Update from Route2");
    next();
  },
  beforeRouteLeave(to, from, next) {
    console.log("Before Route Leave from Route2");
    const answer = window.confirm(
      "Do you really want to leave? you have unsaved changes!"
    );
    if (answer) {
      next();
    } else {
      next(false);
    }
  }
};
</script>

<style scoped>
</style>