<template>
  <div>
    <h2>From Route3</h2>
    {{this.$route.params}}
    &nbsp;From Route 3 props:&nbsp;{{id}}
    <transition name="fade" mode="out-in">
      <router-view />
      <router-view name="view" />
    </transition>
  </div>
</template>

<script>
/*eslint-disable*/
export default {
  name: "Route3",
  props: ["id"],
  beforeRouteEnter(to, from, next) {
    console.log("Before Route Enter from Route3");
    next();
  },
  beforeRouteUpdate(to, from, next) {
    console.log("Before Route Update from Route3");
    next();
  },
  beforeRouteLeave(to, from, next) {
    console.log("Before Route Leave from Route3");
    next();
  },
  watch: {
    $route(to, from) {
      console.log(to.params);
      console.log(from.params);
    }
  }
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>