<template>
  <div>
    <h1>{{msg}}</h1>

    <div>
      <input v-model="todo" />&nbsp;
      <button @click="addTodo">Add todo</button>
    </div>

    <ul style="list-style-type:none;">
      <li v-for="(todo1,index) in todos" v-bind:key="todo1">
        {{ todo1}}
        <span>
          <button @click="deleteTodo(index)">Delete todo</button>
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data() {
    return {
      todos: [],
      todo: ""
    };
  },
  methods: {
    addTodo() {
      this.todos.unshift(this.todo);
    },
    deleteTodo(id) {
      this.todos.splice(id, 1);
    }
  }
};
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
li {
  margin-top: 10px;
  padding: 5px;
  width: 400px;
  margin: auto;
}
a {
  color: #42b983;
}
</style>
