<template>
  <div class="box">
    <h3 style="margin-left:15px;padding-top:15px">Confirm your ticket</h3>
    <div class="class1">
      <label>Trip:</label>
      &nbsp;
      <b>{{booking.tripType}}</b>
    </div>
    <div class="class1">
      <label>From:</label>
      &nbsp;
      <b>{{booking.fromPlace}}</b>
    </div>
    <div class="class1">
      <label>To:</label>
      &nbsp;
      <b>{{booking.toPlace}}</b>
    </div>
    <div class="class1">
      <label>Travel date:</label>
      &nbsp;
      <b>{{booking.travelDate.substring(0,10)}}</b>
    </div>
    <div v-if="booking.returnDate" class="class1">
      <label>Return date:</label>
      &nbsp;
      <b>{{booking.returnDate.substring(0,10)}}</b>
    </div>
    <div class="class1">
      <label>Adults:</label>
      &nbsp;
      <b>{{booking.adultsCount}}</b>
    </div>
    <div v-if="booking.childrenCount!=0" class="class1">
      <label>Children:</label>
      &nbsp;
      <b>{{booking.childrenCount}}</b>
    </div>
    <div v-if="booking.infantsCount!=0" class="class1">
      <label>Infants:</label>
      &nbsp;
      <b>{{booking.infantsCount}}</b>
    </div>
    <div class="class1">
      <label>Travel class:</label>
      &nbsp;
      <b>{{booking.travelClass}}</b>
    </div>
    <b-button variant="outline-danger" @click="goBack()" id="btn1">Cancel Ticket</b-button>
    <b-button variant="outline-success" @click="confirm()" id="btn1">Confirm Ticket</b-button>
  </div>
</template>
<script>
/*eslint-disable*/
import { mapState, mapActions } from "vuex";

export default {
  name: "ConfirmBooking",
  computed: {
    ...mapState(["bookingData", "book", "booking_result", "booking_errorMsg"])
  },
  created() {
    this.booking = JSON.parse(this.bookingData);
  },
  data() {
    return {
      booking: {}
    };
  },
  methods: {
    goBack() {
      this.$router.push("/home");
    },
    confirm() {
      this.bookFlight(this.bookingData);
    },
    ...mapActions(["bookFlight", "resetBookingResult"])
  },
  watch: {
    booking_result(newValue, oldValue) {
      if (newValue == true) {
        this.$router.push("/my-bookings", () => {
          this.$root.$bvToast.toast("Booking successful", {
            variant: "success",
            solid: true
          });
        });
      } else if (newValue == false) {
        this.$bvToast.toast(this.booking_errorMsg, {
          variant: "danger",
          solid: true
        });
      }
      this.resetBookingResult();
    }
  }
};
</script>
<style lang="scss" scoped>
.class1 {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 20px;
}
.box {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  width: 400px;
  margin: 25px auto;
}
#btn1 {
  margin-left: 15px;
  margin-bottom: 15px;
  width: 150px;
}
</style>