<template>
  <div class="footer">&copy; 2019 Flight Booking App</div>
</template>
<script>
export default {};
</script>
<style lang="scss">
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0rem;
  padding-top: 10px;
  text-align: center;
  background-color: #e9e9e9;
  color: black;
  width: 100%;
  height: 50px;
}
</style>