<template>
  <div>
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-navbar-brand @click="dashboard()">
        Flight booking App
        <font-awesome-icon icon="plane" />
      </b-navbar-brand>
      <b-navbar-nav class="ml-auto" v-if="!isLoggedIn">
        <b-nav-item to="/register">Register</b-nav-item>
        <b-nav-item to="/login">Log In</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto" v-if="isLoggedIn">
        <b-nav-item to="/home">Book Ticket</b-nav-item>
        <b-nav-item to="/my-bookings">My Bookings({{bookingsLength}})</b-nav-item>
        <b-nav-item @click="logOut()">Log Out</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";

export default {
  name: "Header",
  computed: {
    ...mapState(["isLoggedIn"]),
    ...mapGetters(["bookingsLength"])
  },
  created() {
    if (localStorage.getItem("token") != null) {
      this.setLoggedIn();
    }
  },
  methods: {
    dashboard() {
      if (localStorage.getItem("token") != null) {
        this.$router.push("/my-bookings");
      } else {
        this.$router.push("/home");
      }
    },
    logOut() {
      this.logoutUser();
      this.$router.push("/login");
    },
    ...mapActions(["logoutUser", "setLoggedIn"])
  }
};
</script>

<style scoped>
.navbar-light .navbar-nav .nav-link {
  margin-right: px;
}
</style>
