<template>
  <div id="main">
    <b-form id="form1" @submit.prevent="submit">
      <h4 style="padding-left:15px;padding-top:20px">Book Your Ticket</h4>
      <b-form-group id="input2">
        <b-form-radio-group v-model="booking.tripType" :options="options"></b-form-radio-group>
      </b-form-group>

      <b-form-group label="From Place:" id="fromInput">
        <b-form-input
          type="text"
          placeholder="Enter from place"
          list="places-list1"
          v-model="booking.fromPlace"
          v-on:input="$v.booking.fromPlace.$touch"
          @blur="$v.booking.fromPlace.$touch"
        ></b-form-input>
        <datalist id="places-list1">
          <option v-for="place in places" :key="place" :disabled="place==booking.toPlace">{{place}}</option>
        </datalist>
        <div
          v-if="($v.booking.fromPlace.$dirty && $v.booking.fromPlace.$error) && !$v.booking.fromPlace.required"
          id="error"
        >From place is required</div>
        <div v-if="!$v.booking.fromPlace.alpha" id="error">Please enter alphabets only</div>
      </b-form-group>

      <b-form-group label="To place:" id="input1">
        <b-form-input
          type="text"
          placeholder="Enter to place"
          list="places-list2"
          v-model="booking.toPlace"
          v-on:input="$v.booking.toPlace.$touch"
          @blur="$v.booking.toPlace.$touch"
        ></b-form-input>
        <datalist id="places-list2">
          <option
            v-for="place in places"
            :key="place"
            :disabled="place==booking.fromPlace"
          >{{place}}</option>
        </datalist>
        <div
          v-if="($v.booking.toPlace.$dirty && $v.booking.toPlace.$error) && !$v.booking.toPlace.required"
          id="error"
        >To place is required</div>
        <div v-if="!$v.booking.toPlace.alpha" id="error">Please enter alphabets only</div>
      </b-form-group>
      <b-form-group label="Travel date:" id="input1">
        <b-form-input
          type="date"
          v-model="booking.travelDate"
          v-on:input="$v.booking.travelDate.$touch"
          @blur="$v.booking.travelDate.$touch"
          :min="new Date().toISOString().split('T')[0]"
          :max="booking.returnDate?new Date(booking.returnDate).toISOString().split('T')[0]:''"
        ></b-form-input>
        <div
          v-if="($v.booking.travelDate.$dirty && $v.booking.travelDate.$error) && !$v.booking.travelDate.required"
          id="error"
        >Travel date is required</div>
      </b-form-group>
      <b-form-group label="Return date:" id="input1" v-if="booking.tripType=='two-way'">
        <b-form-input
          type="date"
          v-model="booking.returnDate"
          v-on:input="$v.booking.returnDate.$touch"
          @blur="$v.booking.returnDate.$touch"
          :min="booking.travelDate?new Date(booking.travelDate).toISOString().split('T')[0]:new Date().toISOString().split('T')[0]"
        ></b-form-input>
        <div
          v-if="($v.booking.returnDate.$dirty && $v.booking.returnDate.$error) && !$v.booking.returnDate.required"
          id="error"
        >Return date is required</div>
      </b-form-group>

      <b-form-group label="Travel class:" id="input1">
        <b-form-select v-model="selected" :options="selectOptions"></b-form-select>
      </b-form-group>

      <b-form-group label="Adults:" id="input3">
        <b-form-input
          type="number"
          v-model="booking.adultsCount"
          v-on:input="$v.booking.adultsCount.$touch"
          @blur="$v.booking.adultsCount.$touch"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Children:" id="input3">
        <b-form-input
          type="number"
          v-model="booking.childrenCount"
          v-on:input="$v.booking.childrenCount.$touch"
          @blur="$v.booking.childrenCount.$touch"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Infants:" id="input3">
        <b-form-input
          type="number"
          v-model="booking.infantsCount"
          v-on:input="$v.booking.infantsCount.$touch"
          @blur="$v.booking.infantsCount.$touch"
        ></b-form-input>
      </b-form-group>

      <div class="countsError">
        <div
          v-if="!$v.booking.adultsCount.between"
          id="counterror"
        >Adults Count must be from 1 to 10</div>
        <div
          v-if="!$v.booking.childrenCount.between"
          id="counterror"
        >Children Count must be from 0 to 10</div>
        <div
          v-if="!$v.booking.infantsCount.between"
          id="counterror"
        >Infants Count must be from 0 to 10</div>
      </div>

      <b-button type="submit" variant="outline-success" id="btn1">Book</b-button>
    </b-form>
  </div>
</template>

<script>
/*eslint-disable*/
import { required, alpha, between, requiredIf } from "vuelidate/lib/validators";
import { mapActions, mapState } from "vuex";

export default {
  name: "Home",
  data() {
    return {
      booking: {
        tripType: "one-way",
        fromPlace: "",
        toPlace: "",
        travelDate: "",
        returnDate: null,
        adultsCount: 1,
        childrenCount: 0,
        infantsCount: 0,
        travelClass: "economy"
      },
      options: [
        { text: "One Way", value: "one-way" },
        { text: "Round Trip", value: "two-way" }
      ],
      selectOptions: [
        { text: "Economy", value: "economy" },
        { text: "Business", value: "business" }
      ],
      selected: "economy",
      places: [
        "Ahmedabad",
        "Aurangabad",
        "Bombay",
        "Banglore",
        "Chennai",
        "Chandigardh",
        "Cochin",
        "Delhi",
        "Goa",
        "Hyderabad",
        "Kanpur",
        "Kerala",
        "Kolkata",
        "Lakshadweep",
        "Nagpur",
        "PortBlair",
        "Pune",
        "Rajkot",
        "Surat",
        "VishakaPatnam"
      ]
    };
  },
  computed: {
    returnDateCheck() {
      return this.booking.tripType == "two-way";
    },
    ...mapState(["isLoggedIn"])
  },
  methods: {
    submit() {
      this.$v.booking.$touch();

      if (!this.$v.booking.$error) {
        this.setBook();

        let traveldateObj = new Date(this.booking.travelDate);
        this.booking.travelDate = traveldateObj.toISOString();
        if (this.booking.returnDate != null) {
          let returndateObj = new Date(this.booking.returnDate);
          this.booking.returnDate = returndateObj.toISOString();
          this.setBookingData(this.booking);
        } else {
          delete this.booking.returnDate;
          this.setBookingData(this.booking);
        }

        if (this.isLoggedIn == true) {
          this.$router.push("/confirm-booking");
        } else {
          this.$router.push("/login");
        }
      }
    },
    ...mapActions(["setBook", "setBookingData"])
  },
  validations: {
    booking: {
      fromPlace: { required, alpha },
      toPlace: { required, alpha },
      travelDate: { required },
      returnDate: {
        required: requiredIf(function() {
          return this.returnDateCheck;
        })
      },
      adultsCount: { between: between(1, 10) },
      childrenCount: { between: between(0, 10) },
      infantsCount: { between: between(0, 10) }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
#fromInput {
  margin-left: 15px;
  width: 400px;
  height: 80px;
}
#input1 {
  margin-left: 15px;
  width: 400px;
  height: 80px;
  margin-top: 10px;
}
#input2 {
  margin-top: 15px;
  margin-left: 15px;
  width: 400px;
}
#input3 {
  margin-left: 25px;
  height: 20px;
  width: 75px;
  display: inline-block;
}
#form1 {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  width: 450px;
  margin: 25px auto;
}
#btn1 {
  width: 100px;
  margin-left: 124px;
  margin-top: 25px;
  margin-bottom: 15px;
}
#error {
  color: red;
}
#counterror {
  color: red;
  margin-left: 15px;
  margin-top: 7px;
}
.main {
  overflow: auto;
}
.countsError {
  height: 70px;
}
#travelDate {
  width: 150px;
}
</style>
