<template>
  <div>
    <b-form id="form1" @submit.prevent="submit">
      <h4 style="padding-left:15px;padding-top:20px">Login</h4>
      <b-form-group label="Email address:" id="input1">
        <b-form-input
          type="email"
          placeholder="Enter email"
          v-model="login.email"
          v-on:input="$v.login.email.$touch"
          @blur="$v.login.email.$touch"
        ></b-form-input>
        <div
          v-if="($v.login.email.$dirty && $v.login.email.$error) && !$v.login.email.required"
          id="error"
        >Email is required</div>
      </b-form-group>

      <b-form-group label="Password:" id="input1">
        <b-form-input
          type="password"
          placeholder="Enter Password"
          v-model="login.password"
          v-on:input="$v.login.password.$touch"
          @blur="$v.login.password.$touch"
        ></b-form-input>
        <div
          v-if="($v.login.password.$dirty && $v.login.password.$error) && !$v.login.password.required"
          id="error"
        >Password is required</div>
      </b-form-group>

      <b-button type="submit" variant="outline-success" id="btn1">Login</b-button>
    </b-form>
  </div>
</template>
<script>
/*eslint-disable*/
import { required, email } from "vuelidate/lib/validators";
import { mapActions, mapState } from "vuex";

export default {
  name: "Login",
  data() {
    return {
      login: {
        email: "",
        password: ""
      }
    };
  },
  computed: {
    ...mapState(["login_result", "login_errorMsg", "book"])
  },
  methods: {
    submit() {
      this.$v.login.$touch();
      const user = {
        email: this.login.email,
        password: this.login.password
      };

      this.checkLogin(this.login);
    },
    ...mapActions(["checkLogin", "resetLoginResult"])
  },
  watch: {
    login_result(newValue, oldValue) {
      if (newValue == true) {
        if (this.book == false) {
          this.$router.push("/my-bookings", () => {
            this.$root.$bvToast.toast("Login successful", {
              variant: "success",
              solid: true
            });
          });
        } else {
          this.$router.push("/confirm-booking", () => {
            this.$root.$bvToast.toast("Login successful", {
              variant: "success",
              solid: true
            });
          });
        }
      } else if (newValue == false) {
        this.$bvToast.toast(this.login_errorMsg, {
          variant: "danger",
          solid: true
        });
      }
      this.resetLoginResult();
    }
  },
  validations: {
    login: {
      email: { required, email },
      password: {
        required,
        strongPassword(password) {
          return (
            /[a-z]/.test(password) &&
            /[A-Z]/.test(password) && // checks for a-z
            /[0-9]/.test(password) && // checks for 0-9
            /\W|_/.test(password)
          ); // checks for special char
        }
      }
    }
  }
};
</script>
<style lang="scss" scoped>
#input1 {
  margin-left: 15px;
  width: 300px;
  height: 80px;
  margin-top: 10px;
}
#form1 {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  width: 400px;
  height: 350px;
  margin: 100px auto;
}
#btn1 {
  width: 100px;
  margin-left: 124px;
  margin-top: 20px;
}
#error {
  color: red;
}
</style>