<template>
  <div v-if="bookings.length!=0">
    <h4 style="margin-left:15px;margin-top:15px">MyBookings({{bookings.length}})</h4>
    <div v-for="booking in bookings" v-bind:key="booking._id">
      <b-card
        bg-variant="light"
        text-variant="dark"
        :title="booking.fromPlace+' -> '+booking.toPlace"
        id="card1"
      >
        <b-card-text>
          <div>
            <label>Status:</label>
            &nbsp;
            <h6
              style="display:inline"
              :style="booking.status=='booked'?{'color':'green'}:{'color':'red'}"
            >{{booking.status}}</h6>
          </div>
          <div>
            <label>Travel date:</label>&nbsp;
            <h6 style="display:inline">{{booking.travelDate.substring(0,10)}}</h6>
          </div>
          <div v-if="booking.returnDate">
            <label>Return date:</label>&nbsp;
            <h6 style="display:inline">{{booking.returnDate.substring(0,10)}}</h6>
          </div>
        </b-card-text>
        <div id="divBtn">
          <b-button
            v-if="booking.status=='booked'"
            variant="outline-danger"
            @click="cancelFlight(booking._id)"
            id="btn1"
          >Cancel Ticket</b-button>
          <b-button variant="outline-primary" @click="viewTicket(booking)" id="btn1">View Ticket</b-button>
        </div>
      </b-card>
    </div>
  </div>
  <div v-else>
    <h4 style="margin-left:15px;margin-top:15px">No Bookings</h4>
  </div>
</template>
<script>
/*eslint-disable*/
import { mapState, mapActions } from "vuex";
import BookingService from "../services/bookingService";

const bookingService = new BookingService();

export default {
  name: "MyBookings",
  computed: {
    ...mapState(["bookings"])
  },
  created() {
    this.getBookings();
  },
  methods: {
    cancelFlight(id) {
      let answer = confirm("Are you sure to cancel ticket?");
      if (answer == true) {
        let cancelId = { bookingId: id };

        bookingService.cancelFlight(cancelId).then(res => {
          this.getBookings();
        });
      }
    },
    viewTicket(ticket) {
      this.setTicketData(ticket);
      this.$router.push("/view-ticket");
    },
    ...mapActions(["getBookings", "setTicketData"])
  }
};
</script>
<style lang="scss" scoped>
#card1 {
  float: left;
  width: 475px;
  height: 250px;
  margin-left: 15px;
  margin-top: 15px;
}
#btn1 {
  width: 150px;
  margin-left: 15px;
  margin-bottom: 10px;
}
#divBtn {
  position: absolute;
  bottom: 10px;
}
</style>