<template>
  <!-- <div class="form1">
    <form @submit.prevent="submit">
      <h2>Register</h2>
      <div class="form-group">
        <label>
          Email
          <span>*</span>
        </label>
        <input
          type="email"
          v-model="register.email"
          v-on:input="$v.register.email.$touch"
          @blur="$v.register.email.$touch"
        />&nbsp;
        <span
          v-if="($v.register.email.$dirty && $v.register.email.$error) && !$v.register.email.required"
        >Email is required</span>
        <span v-if="!$v.register.email.email">Invalid email</span>
      </div>

      <div class="form-group">
        <label>
          Mobile
          <span>*</span>
        </label>
        <input
          type="text"
          v-model="register.mobile"
          v-on:input="$v.register.mobile.$touch"
          @blur="$v.register.mobile.$touch"
        />&nbsp;
        <span
          v-if="($v.register.mobile.$dirty && $v.register.mobile.$error) && !$v.register.mobile.required"
        >MobileNo is required</span>
        <span
          v-if="!$v.register.mobile.mobilePattern && $v.register.mobile.required"
        >Please enter valid mobileno</span>
      </div>

      <div class="form-group">
        <label>
          First Name
          <span>*</span>
        </label>
        <input
          type="text"
          v-model="register.firstName"
          v-on:input="$v.register.firstName.$touch"
          @blur="$v.register.firstName.$touch"
        />&nbsp;
        <span
          v-if="($v.register.firstName.$dirty && $v.register.firstName.$error) && !$v.register.firstName.required"
        >FirstName is required</span>
        <span v-if="!$v.register.firstName.alpha">Please enter alphabets only</span>
      </div>

      <div class="form-group">
        <label>
          Last Name
          <span>*</span>
        </label>
        <input
          type="text"
          v-model="register.lastName"
          v-on:input="$v.register.lastName.$touch"
          @blur="$v.register.lastName.$touch"
        />&nbsp;
        <span
          v-if="($v.register.lastName.$dirty && $v.register.lastName.$error) && !$v.register.lastName.required"
        >LastName is required</span>
        <span v-if="!$v.register.lastName.alpha">Please enter alphabets only</span>
      </div>

      <div class="form-group">
        <label>Gender</label>
        Male
        <input type="radio" value="male" v-model="register.gender" />
        &nbsp;
        Female
        <input type="radio" value="female" v-model="register.gender" />
      </div>

      <div class="form-group">
        <label>
          Password
          <span>*</span>
        </label>
        <input
          type="password"
          v-model="register.password"
          v-on:input="$v.register.password.$touch"
          @blur="$v.register.password.$touch"
        />&nbsp;
        <span
          v-if="($v.register.password.$dirty && $v.register.password.$error) && !$v.register.password.required"
        >Password is required</span>
        <span
          v-if="!$v.register.password.strongPassword && $v.register.password.required"
        >Password should contain atleast 1 uppercase,1 lowercase,1 special char and 1 letter</span>
      </div>

      <div class="form-group">
        <label>
          Confirm Password
          <span>*</span>
        </label>
        <input
          type="password"
          v-model="register.password1"
          v-on:input="$v.register.password1.$touch"
          @blur="$v.register.password1.$touch"
        />&nbsp;
        <span
          v-if="($v.register.password1.$dirty && $v.register.password1.$error) && !$v.register.password1.required"
        >Confirm Password is required</span>
        <span
          v-if="!$v.register.password1.sameAsPassword && $v.register.password1.required"
        >Passwords not match</span>
      </div>

      <button class="btn btn-primary" type="submit" style="margin:10px">Register</button>
      <br />
    </form>
  </div>-->
  <div class="main">
    <b-form id="form1" @submit.prevent="submit">
      <h4 style="padding-left:15px;padding-top:20px">Register</h4>
      <b-form-group label="Email address:" id="input1">
        <b-form-input
          type="email"
          placeholder="Enter email"
          v-model="register.email"
          v-on:input="$v.register.email.$touch"
          @blur="$v.register.email.$touch"
        ></b-form-input>
        <div
          v-if="($v.register.email.$dirty && $v.register.email.$error) && !$v.register.email.required"
          id="error"
        >Email is required</div>
        <div v-if="!$v.register.email.email" id="error">Please provide valid email</div>
      </b-form-group>

      <b-form-group label="Mobile:" id="input1">
        <b-form-input
          type="text"
          placeholder="Enter mobile number"
          v-model="register.mobile"
          v-on:input="$v.register.mobile.$touch"
          @blur="$v.register.mobile.$touch"
        ></b-form-input>
        <div
          v-if="($v.register.mobile.$dirty && $v.register.mobile.$error) && !$v.register.mobile.required"
          id="error"
        >MobileNo is required</div>
        <div
          v-if="!$v.register.mobile.mobilePattern && $v.register.mobile.required"
          id="error"
        >Please enter valid mobileno</div>
      </b-form-group>

      <b-form-group label="First Name:" id="input1">
        <b-form-input
          type="text"
          placeholder="Enter first name"
          v-model="register.firstName"
          v-on:input="$v.register.firstName.$touch"
          @blur="$v.register.firstName.$touch"
        ></b-form-input>
        <div
          v-if="($v.register.firstName.$dirty && $v.register.firstName.$error) && !$v.register.firstName.required"
          id="error"
        >FirstName is required</div>
        <div v-if="!$v.register.firstName.alpha" id="error">Please enter alphabets only</div>
      </b-form-group>

      <b-form-group label="Last Name:" id="input1">
        <b-form-input
          type="text"
          placeholder="Enter last name"
          v-model="register.lastName"
          v-on:input="$v.register.lastName.$touch"
          @blur="$v.register.lastName.$touch"
        ></b-form-input>
        <div
          v-if="($v.register.lastName.$dirty && $v.register.lastName.$error) && !$v.register.lastName.required"
          id="error"
        >LastName is required</div>
        <div v-if="!$v.register.lastName.alpha" id="error">Please enter alphabets only</div>
      </b-form-group>

      <b-form-group label="Gender:" id="input2">
        <b-form-radio-group v-model="register.gender" :options="options"></b-form-radio-group>
      </b-form-group>

      <b-form-group label="Password:" id="input3">
        <b-form-input
          type="password"
          placeholder="Enter password"
          v-model="register.password"
          v-on:input="$v.register.password.$touch"
          @blur="$v.register.password.$touch"
        ></b-form-input>
        <div
          v-if="($v.register.password.$dirty && $v.register.password.$error) && !$v.register.password.required"
          id="error"
        >Password is required</div>
        <div
          v-if="!$v.register.password.strongPassword && $v.register.password.required"
          id="error"
        >Password should contain atleast 1 uppercase,1 lowercase,1 special char and 1 letter</div>
      </b-form-group>

      <b-form-group label="Confirm Password:" id="input1">
        <b-form-input
          type="password"
          placeholder="Re-enter password"
          v-model="register.password1"
          v-on:input="$v.register.password1.$touch"
          @blur="$v.register.password1.$touch"
        ></b-form-input>
        <div
          v-if="($v.register.password1.$dirty && $v.register.password1.$error) && !$v.register.password1.required"
          id="error"
        >Confirm password is required</div>
        <div
          v-if="!$v.register.password1.sameAsPassword && $v.register.password1.required"
          id="error"
        >Passwords not match</div>
      </b-form-group>

      <b-button type="submit" variant="outline-success" id="btn1">Register</b-button>
    </b-form>
  </div>
</template>
<script>
/*eslint-disable*/
import {
  required,
  email,
  sameAs,
  alpha,
  helpers
} from "vuelidate/lib/validators";
import UserService from "../services/userService";
import { mapActions, mapState } from "vuex";

const userService = new UserService();

export default {
  name: "Register",
  computed: {
    ...mapState(["register_result", "register_errorMsg"])
  },
  data() {
    return {
      register: {
        email: "",
        mobile: "",
        firstName: "",
        lastName: "",
        password: "",
        password1: "",
        gender: "male"
      },
      options: [
        { text: "Male", value: "male" },
        { text: "Female", value: "female" }
      ]
    };
  },
  watch: {
    register_result(newValue, oldValue) {
      if (newValue == true) {
        this.$router.push("/login", () => {
          this.$root.$bvToast.toast("Registration successful", {
            variant: "success",
            solid: true
          });
        });
      } else if (newValue == false) {
        this.$bvToast.toast(this.register_errorMsg, {
          variant: "danger",
          solid: true
        });
      }
      this.resetRegisterResult();
    }
  },
  validations: {
    register: {
      email: { required, email },
      mobile: {
        required,
        mobilePattern(mobile) {
          return /[789]\d{9}/.test(mobile);
        }
      },
      firstName: { required, alpha },
      lastName: { required, alpha },
      password: {
        required,
        strongPassword(password) {
          return (
            /[a-z]/.test(password) &&
            /[A-Z]/.test(password) && // checks for a-z
            /[0-9]/.test(password) && // checks for 0-9
            /\W|_/.test(password)
          ); // checks for special char
        }
      },
      password1: { required, sameAsPassword: sameAs("password") }
    }
  },
  methods: {
    submit() {
      this.$v.register.$touch();
      this.checkRegistration(this.register);
    },
    ...mapActions(["checkRegistration", "resetRegisterResult"])
  }
};
</script>
<style lang="scss" scoped>
#input1 {
  margin-left: 15px;
  width: 400px;
  height: 80px;
  margin-top: 10px;
}
#input2 {
  margin-left: 15px;
  width: 400px;
  height: 40px;
}
#input3 {
  margin-left: 15px;
  width: 400px;
  height: 100px;
}
#form1 {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  width: 500px;
  height: 800px;
  margin: 20px auto;
}
#btn1 {
  width: 100px;
  margin-left: 124px;
  margin-top: 20px;
}
#error {
  color: red;
}
.main {
  overflow: auto;
}
</style>