<template>
  <div class="box">
    <h3 style="margin-left:15px;padding-top:15px">Your ticket</h3>
    <div class="class1">
      <label>Trip:</label>
      &nbsp;
      <b>{{ticket.tripType}}</b>
    </div>
    <div class="class1">
      <label>From:</label>
      &nbsp;
      <b>{{ticket.fromPlace}}</b>
    </div>
    <div class="class1">
      <label>To:</label>
      &nbsp;
      <b>{{ticket.toPlace}}</b>
    </div>
    <div class="class1">
      <label>Travel date:</label>
      &nbsp;
      <b>{{ticket.travelDate.substring(0,10)}}</b>
    </div>
    <div v-if="ticket.returnDate" class="class1">
      <label>Return date:</label>
      &nbsp;
      <b>{{ticket.returnDate.substring(0,10)}}</b>
    </div>
    <div class="class1">
      <label>Adults:</label>
      &nbsp;
      <b>{{ticket.adultsCount}}</b>
    </div>
    <div v-if="ticket.childrenCount!=0" class="class1">
      <label>Children:</label>
      &nbsp;
      <b>{{ticket.childrenCount}}</b>
    </div>
    <div v-if="ticket.infantsCount!=0" class="class1">
      <label>Infants:</label>
      &nbsp;
      <b>{{ticket.infantsCount}}</b>
    </div>
    <div class="class1">
      <label>Travel class:</label>
      &nbsp;
      <b>{{ticket.travelClass}}</b>
    </div>
    <b-button variant="outline-primary" @click="goBack()" id="btn1">Back</b-button>
  </div>
</template>
<script>
/*eslint-disable*/
import { mapState } from "vuex";

export default {
  name: "ViewTicket",
  computed: {
    ...mapState(["ticketData"])
  },
  created() {
    this.ticket = JSON.parse(this.ticketData);
  },
  data() {
    return {
      ticket: {}
    };
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    }
  }
};
</script>
<style lang="scss" scoped>
.class1 {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 20px;
}
.box {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  width: 400px;
  margin: 25px auto;
}
#btn1 {
  margin-left: 15px;
  margin-bottom: 15px;
}
</style>